<div ng-controller="dashboardCtrl">
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">View 1</h4>
					<p class="card-text">Click below to go to View 1</p>
					<a href="#!view1" class="btn btn-primary">Click here</a>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">View 2</h4>
					<p class="card-text">Click below to go to View 2</p>
					<a href="#!view2" class="btn btn-primary">Click here</a>
				</div>
			</div>
		</div>
	</div>
</div>
